/*
 Theme Name: Galleri Heike Arndt DK WP Theme
 Theme URI: http://heike-arndt.dk
 Description: Wordpress theme for Galleri Heike Arndt DK
 Author: Jakob Pless
 Author URI: http://pless84.dk
 Version: 2
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers. 
   There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

body {
	background: white;
	color: black;
	font: 14px Verdana, Helvetica, sans-serif;
}
.screen-reader-text {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.clear {
	clear: both;
}
.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .group, *:first-child+ html .group {
	zoom: 1;
}/* First selector = IE6, Second Selector = IE 7 */
#page-wrap {
	width: 960px;
	margin: 20px auto;
}
#header {
	padding: 10px 0;
	height: 70px;
}
#logo {
	float: left;
	width: 280px;
	height: 80px;	
}
#asidetop {
	float: right;
}
#navmain {
	height: 0;
	padding: 0;
	margin: 0;
	border-top: 5px solid black;
}
#nav {
	padding-top: 10px;
	height: 10px;
	border-top: 5px solid black;
}
#nav li {
	padding-left: 10px;
	list-style: none;
	float: left;
}
#content-wrap {
	padding-top: 30px;
}
.has_sidebar {
	float: left;
	width: 500px;
}
#sidebar-right {
	float: right;
	width: 350px;
}
.artistsbox {
	text-align: left;
	margin-top: 10px;
	width: 350px;
	height: 500px;
}
.artistsbox ul {
	list-style: none;
	padding: 10px;
	font-size: 14px;
}
.smallbox {
	overflow: hidden;
	padding: 5px;
	width: 300px;
	height: 180px;
	border: 5px solid black;
	margin-bottom: 10px;
}
#footer {
	padding-top: 10px;
	border-top: 5px solid black;
	height: 100px;
}
#footer div p {
	text-align: center;
}
.wp-caption {
	padding-left: 10px;
	text-align: center;
	float: left;
}
.wp-caption-text {
	font-size: 18px;
}
.outer-center {
    float: left;
    top: 50%;
    left: 50%;
    position: relative;
}
.inner-center {
    float: left;
    top: -50%;
    left: -50%;
    position: relative;
}
.galleryview {
	float: left;
	list-style: none;
}
.panel-overlay h2 {
	font-size: 18px;
}
h1, h2, h3 {
	font-weight: normal;
	margin: 0 0 10px 0;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
p {
	margin: 0 0 10px 0;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: blue;
}
blockquote {
}
blockquote p {
}
ul, ol {
	margin: 0 0 10px 0;
}
.post {
	margin: 0;
	padding: 0;
}
.entry {
	margin: 0;
	padding: 0;
}
.entry a {
}
.entry a:hover {
}
pre {
}
code, tt {
}
#meta {
}
.postmetadata {
}
.navgation {
}
.next-posts {
}
.prev-posts {
}
#searchform {
}
#s {
}
#searchsubmt {
}
ol.commentlist {
	list-style: none;
}
ol.commentlist li {
}
ol.commentlist li.alt {
}
ol.commentlist li.bypostauthor {
}
ol.commentlist li.byuser {
}
ol.commentlist li.comment-author-admin {
}
ol.commentlist li.comment {
	border-bottom: 1px dotted #666;
	padding: 10px;
}
ol.commentlist li.comment div.comment-author {
}
ol.commentlist li.comment div.vcard {
}
ol.commentlist li.comment div.vcard cite.fn {
	font-style: normal;
}
ol.commentlist li.comment div.vcard cite.fn a.url {
}
ol.commentlist li.comment div.vcard img.avatar {
	float: right;
	margin: 0 0 10px 10px;
}
ol.commentlist li.comment div.vcard img.avatar-32 {
}
ol.commentlist li.comment div.vcard img.photo {
}
ol.commentlist li.comment div.vcard span.says {
}
ol.commentlist li.comment div.commentmetadata {
}
ol.commentlist li.comment div.comment-meta {
	font-size: 10px;
}
ol.commentlist li.comment div.comment-meta a {
	color: #ccc;
}
ol.commentlist li.comment p {
}
ol.commentlist li.comment ul {
}
ol.commentlist li.comment div.reply {
	font-size: 11px;
}
ol.commentlist li.comment div.reply a {
	font-weight: bold;
}
ol.commentlist li.comment ul.children {
	list-style: none;
	margin: 10px 0 0;
}
ol.commentlist li.comment ul.children li {
}
ol.commentlist li.comment ul.children li.alt {
}
ol.commentlist li.comment ul.children li.bypostauthor {
}
ol.commentlist li.comment ul.children li.byuser {
}
ol.commentlist li.comment ul.children li.comment {
}
ol.commentlist li.comment ul.children li.comment-author-admin {
}
ol.commentlist li.comment ul.children li.depth-2 {
	border-left: 5px solid #555;
	margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-3 {
	border-left: 5px solid #999;
	margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-4 {
	border-left: 5px solid #bbb;
	margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-5 {
}
ol.commentlist li.comment ul.children li.odd {
}
ol.commentlist li.even {
	background: #fff;
}
ol.commentlist li.odd {
	background: #f6f6f6;
}
ol.commentlist li.parent {
	border-left: 5px solid #111;
}
ol.commentlist li.thread-alt {
}
ol.commentlist li.thread-even {
}
ol.commentlist li.thread-odd {
}
form {
}
input[type=text] {
}
textarea {
}
/* qTranslate */
.qtrans_language_chooser {
	list-style-type: none
}
.qtrans_language_chooser li {
	float: left;
	margin-right: 5px
}
/* Nivo Slider */
.nivoSlider {
	position: relative;
	width: 550px; /* Change this to your images width */
	height: 400px; /* Change this to your images height */
	background: url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.nivoSlider a {
	border: 0;
	display: block;
}
.slider-wrapper {
	width: 600px;
	height: 450px;
}
/* Colors for each page */
/* Main */
#logo {
	background: url(images/logo-main.png) no-repeat;
}
#logo a {
	display: block;
}
#nav {
	border-top: 5px solid black;
}
.smallbox {
	border: 5px solid black;
}
#footer {
	border-top: 5px solid black;
}
a:hover {
	color: blue;
}
/* Kettinge */
.category-kettinge #logo, .category-news-kettinge #logo, .parent-pageid-41 #logo {
	background: url(images/logo-kettinge.png) no-repeat;
}
.category-kettinge #nav, .category-news-kettinge #nav, .parent-pageid-41 #nav {
	border-top: 5px solid #008B00;
}
.category-kettinge .smallbox, .category-news-kettinge .smallbox, .parent-pageid-41 .smallbox {
	border: 5px solid #008B00;
}
.category-kettinge #footer, .category-news-kettinge #footer, .parent-pageid-41 #footer {
	border-top: 5px solid #008B00;
}
.category-kettinge a:hover, .category-news-kettinge a:hover, .parent-pageid-41 a:hover {
	color: #008B00;
}
/* Berlin */
.category-berlin #logo, .category-news-berlin #logo, .parent-pageid-21 #logo {
	background: url(images/logo-berlin.png) no-repeat;
}
.category-berlin #nav, .category-news-berlin #nav, .parent-pageid-21 #nav {
	border-top: 5px solid darkblue;
}
.category-berlin .smallbox, .category-news-berlin .smallbox, .parent-pageid-21 .smallbox {
	border: 5px solid darkblue;
}
.category-berlin #footer, .category-news-berlin #footer, .parent-pageid-21 #footer {
	border-top: 5px solid darkblue;
}
.category-berlin a:hover, .category-news-berlin a:hover, .parent-pageid-21 a:hover {
	color: darkblue;
}
/* Heike */
.category-heike-arndt #logo, .parent-pageid-53 #logo {
	background: url(images/logo-heike-arndt.png) no-repeat;
}
.category-heike-arndt #nav, .parent-pageid-53 #nav {
	border-top: 5px solid darkred;
}
.category-heike-arndt .smallbox, .parent-pageid-53 .smallbox {
	border: 5px solid darkred;
}
.category-heike-arndt #footer, .parent-pageid-53 #footer {
	border-top: 5px solid darkred;
}
.category-heike-arndt a:hover, .parent-pageid-53 a:hover {
	color: darkred;
}
/* Where is home */
.category-where-is-home #logo {
	background: url(images/logo-where-is-home.png) no-repeat;
}
.category-where-is-home #nav {
	border-top: 5px solid gold;
}
.category-where-is-home .smallbox {
	border: 5px solid gold;
}
.category-where-is-home #footer {
	border-top: 5px solid gold;
}
.category-where-is-home a:hover {
	color: gold;
}